.picture {
    /*
    Lay the picture containers out one after the other. (To see why
    this line is important, try changing it to 'block' or 'inline'.)
    */
    display: inline-block;

    /* add a little space between each picture and the next */
    margin: 10px;
}

.gallery img {
    /*
    The original images are all different sizes but we need
    them to be consistent for the gallery layout to look good.
    */
    height: 200px;

    /* add an outline around each picture */
    border: 3px double black;
}

.gallery p {
    text-align: center;
    margin-top: 0;
}
body{
    text-align:center;
    background:url(https://media.istockphoto.com/vectors/red-carpet-on-stairs-vector-id843836450?k=20&m=843836450&s=612x612&w=0&h=k9LE8B3iLJxdmZM9lnKs_3GfvNiM2LVvxDq4raaypfE=);
    color:white;
}

h1{
    color:#CA2B09;
    font-family: 'Bebas Neue', cursive;
    font-size:200%;
}

h2{
    color:#0762A9;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size:85%;
}

p{
    color:black;
}

.counter{
    border:black solid 2px;
    color:black;
    height:55px;
    width:400px;
    margin-left:150px;
}
